---
import { NOTES_LIMIT } from "@/constants";
import Layout from "@/layouts/Layout.astro";
import Pagination from "@/components/Pagination.astro";
import NoteArticleList from "@/components/NoteArticleList.astro";
import CategoryFilter from "@/components/CategoryFilter.astro";
import type { CategoryList } from "@/types/microcms";
import {
  getNotesList,
  getAllCategoryList,
  getAllNotesList,
} from "@/libs/api/microcms";

const pageTitle = "Notes";
const pageNumber = Number(Astro.params.page) || 1;
const { contents: notesList, totalCount } = await getNotesList({
  limit: NOTES_LIMIT,
  offset: (pageNumber - 1) * NOTES_LIMIT,
});
const allNotesList = await getAllNotesList();
const categoryList = await getAllCategoryList({
  filters: "connection[contains]notes",
});

const filteredCategoryList: CategoryList = categoryList.filter((category) => {
  return allNotesList.some(
    (note) => note.category.category_id === category.category_id,
  );
});
---

<Layout>
  <section class="page-section">
    <h1 class="page-title">{pageTitle}</h1>
    <CategoryFilter categoryList={filteredCategoryList} currentCategory="all" />
    <NoteArticleList notesList={notesList} />
    <Pagination
      limit={NOTES_LIMIT}
      totalCount={totalCount}
      page={pageNumber}
      basePath="/notes"
    />
  </section>
</Layout>
